*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# CRITICAL SECURITY: Never upload your Firebase secrets to GitHub!
google-services.json
app/google-services.json

# Signing files
*.jks
*.keystore
key.properties
